/* Navbar Styles */
.navbar {
  background-color: #004b8d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

/* Logo */
.navbar-logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar-logo a{
  text-decoration: none;
  color: #fff;
}

/* Menu Styles */
.navbar-menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0px;
}

/* Link Styles */
.navbar-menu li a {
  color: white; /* Set the link color to white */
  text-decoration: none; /* Remove the underline */
  font-weight: 500;
}
.navbar-menu  li {
  margin-block: 10px;
  /* transition: transform .2s ease-in-out; */
}
/* .navbar-menu li:hover{
  transform: translateY(-5px);
} */

/* Hover Effect */
.navbar-menu li a:hover {
  text-decoration: none; /* Underline on hover for better UX */
}

/* Responsive Design */

/* For Medium to Large Screens */
@media (max-width: 768px) {
  .navbar-menu {
      display: none;
      flex-direction: column;
      position: absolute; 
      top: 60px;
      right: 0; 
      background-color: #004b8d;
      width: 100%;
      z-index: 1; 
      padding: 1rem 0;
  }

  .navbar-menu.active {
      display: flex; 
      z-index: 3;
  }

  .navbar-toggle {
      display: flex;
      flex-direction: column;
      cursor: pointer; 
      gap: 4px;
  }

  .navbar-toggle div {
      width: 25px;
      height: 3px;
      background-color: white;
      transition: all 0.3s ease; 
  }
  .navbar-menu  li {
    margin: 10px 20px;
  }
}

/* For Smaller Screens */
@media (max-width: 480px) {
  .navbar {
      padding: 1rem;
  }

  .navbar-logo {
      font-size: 1.2rem; 
  }
}
