.news-page {
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
}

.news-list {
  list-style-type: none;
  padding: 0;
}

.news-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 10px;
  display: flex;
  gap: 2rem;
}

.news-item h2 {
  font-size: 24px;
  margin: 0 0 10px;
}

.news-item p {
  margin: 5px 0;
}

.news-item a {
  color: #111827;
  text-decoration: none;
}

.news-item h2>a, .news-item h2>a:hover{
  color:#000;
  text-decoration: none;
}

.news-item a:hover {
  text-decoration: underline;
}

.news-image img {
  width: 200px; 
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 10px;
}
.predictions-section {
  margin-bottom: 40px;
}
.text-center {
  text-align: center;
}
/* Ensure the carousel takes up full width and doesn't overflow */
.prediction-card {
  width: 85%!important; 
  height: 120px;
  padding: 20px;
  margin: auto;
  text-align: center;
  background-color: #004b8d;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex!important;
  align-items: center;
}
.prediction-content {
  font-size: 1.2rem;
  color: #fff;
  display: flex;
  align-items: center;
}

.slick-prev:before,
.slick-next:before {
  color: #004b8d; /* Change the color of the arrows */
}


/* Carousel container to ensure proper alignment and prevent overlap */
.slick-slide {
  display: flex !important;
  justify-content: center;
}
.slick-slide div {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.slick-list {
  overflow: hidden; /* Prevent any overflow issues */
}
